[2012-06-16 15:03] yehielliv opened #1 "Fail with Lua binaries Max OSX Snow Leopard"
I have a Lua binaries 5.1 compiled with Lua socket 2.02.
I have in the current directory the CompleteLua(Lua binary with socket complie with xcode 4) and the moddebug.lua and all the test files.

./CompleteLua mobdebug.lua
 will come out with no error. Then from the > propmt of the interpreter I type

[2012-06-19 17:14] #1 closed, assigned to pkulchenko

[2012-08-06 10:19] ildar opened #2 "please pull the rockspec"
e.g. [this one](http://git.altlinux.org/people/ildar/packages/?p=lua-module-mobdebug.git;a=blob;f=mobdebug-0.47-1.rockspec;h=414961062af42208b50b506682804034e1d5d0ec;hb=ccc1e0fe2182492a25c33614cab2670ab6d14537)

[2012-08-06 21:47] #2 closed, assigned to pkulchenko

[2012-09-27 11:38] kodemeister opened #3 "Debugger doesn't show some local variables"
This is mobdebug issue I guess. Consider the following code fragment:

[code]

When stopped at breakpoint Stack Window correctly shows both variables `var1` and `var2`. However other tools (Watch Window, Local console, tooltip) wrongly evaluate `var1` as nil :(

But it's only half the story. When I make use of `var1` in function `func`, e.g.

[code]

then everything works fine. Making `var1` globa

[2012-09-27 15:11] #3 closed, assigned to pkulchenko

[2013-01-28 15:53] alfredopalhares opened #4 "Could not connect to localhost:8172"
Hello,

Archlinux updated.
Lua 5.2
Luasocket from https://github.com/diegonehab/luasocket/tree/unstable
Latest Mobdebug from master.

When I run the server.lua and run start.lua i get
Could not connect to localhost:8172

[2013-02-27 07:58] #4 closed, assigned to pkulchenko

[2013-11-04 05:10] deftsp opened #6 "File path error on OS X which installed tp case-sensitive partition."
I installed my OS X to  case-sensitive partion.

For now, debug server will get  the file path like "/user/username/foo.lua" not  "/Users/Username/foo.lua", and cause  ZeroBraneStudio fail to begin debug.

I think "iscasepreserving" should be  false on OS X.

[2013-11-05 20:01] #6 closed, assigned to pkulchenko

[2013-12-31 10:07] moteus opened #9 "Implicit load std lua libraries."
I use host application which just register std libraries loaders.
So when MobDebug try use table library i get error.

[code]

[2014-01-02 23:54] #9 closed, assigned to pkulchenko

[2014-02-04 12:51] tira-misu opened #11 "No garbage collection at "EXIT" command"
There is no garbage collection running at Exit command. Solution is to use  os.exit(1,1); on "exit" in debug_hook()

[2014-02-05 23:44] #11 closed, assigned to nobody

[2014-03-31 08:41] danerduo opened #12 "can't run the examples"
Hi, I meet a problem when run the examples server.lua && start.lua
I have lua5.1.
The connection established correctly, But the client side can not receive the "STEP\n" sent by the listener(client:send("STEP\n")),
then, it would be blocked at the receive() function forever.
1. I tried to send something from client to server, the server can receive it correctly.
2. I also tried to write some test c

[2014-04-06 03:59] #12 closed, assigned to pkulchenko

[2014-04-25 11:02] 1linux opened #13 "Problem with llthreads"
There is a seldom issue with mobdebug and llthreads.

Line 24:
  port = os and os.getenv and tonumber(os.getenv("MOBDEBUG_PORT")) or 8172,

It seems that under certain circumstances "os.getenv" fails and gives a second result. This result (error message) ist used by "tonumber()", which causes to fail mobdebug.

As portnumbers always are decimal numbers, I simply added ",10" as second parameter to

[2014-04-28 21:17] #13 closed, assigned to pkulchenko

[2014-10-22 10:07] TheSHEEEP opened #14 "Could not connect to localhost:8172: connection refused"
My issue is similar to this one: https://github.com/pkulchenko/MobDebug/issues/4

However, I did use the correct Lua version (5.1) from the beginning.

I compiled both LuaJIT-2.0.3 and the latest luasocket (3.0 rc1) with MinGW and embedded both into our application.
This is how luasocket is embedded (put into preload):

[code]

The application is linked against the "socket.dll.3.0-rc1" (which is t

[2014-10-22 16:08] #14 closed, assigned to pkulchenko

[2015-03-02 20:24] Atcold opened #15 "Usage examples"
Hi, I love being able to debug in Lua, finally!
But I have some doubts about how to use some functions, like
[code]
Is there some tutorials / examples about this stuff?

Thank you very much

[2015-03-02 20:54] Atcold commented on #15
Moreover, `basedir` does nothing...

[2015-03-02 21:10] Atcold commented on #15
OK, I found some examples about how to use the `watch` from the [RemDebug Example of Execution](http://webcache.googleusercontent.com/search?q=cache:rpe_Yt9cQRsJ:math2.org/luasearch-2/luadist-extract/remdebug-1.0.dist/doc/us/example.html+&cd=4&hl=en&ct=clnk&gl=us&client=ubuntu).
Everything worked fine but `basedir`.

Now I've to find out how to use the last three items I mentioned before, i.e.

[c

[2015-03-02 21:18] pkulchenko commented on #15
@Atcold, why didn't basedir work for you? It only sets the folder relative to which all the file paths will be reported, which has impact on how breakpoints are handled.

[2015-03-02 22:41] Atcold commented on #15
`basedir` is supposed to output the *current working directory* is no argument is passed. Well, typing `basedir` does not return anything.

What about the last three commands? I cannot figure out how to use them. Would you mind writing a couple of line of example?

Thank you very much

[2015-03-02 23:01] pkulchenko commented on #15
@Atcold, I think the reason `basedir` didn't return anything is that the basedir hasn't been set yet. For example, I've updated `examples/autotest.lua` to add `stack` and `basedir` commands and here is the output it generates:

[code]

You can also explore all these commands from ZeroBrane Studio IDE, which is using Mobdebug as its debugger. You can turn verbose debugging on (by setting `debugger.

[2015-03-02 23:08] pkulchenko commented on #15
`reload` reloads the current file and restart the debugging session (but keeps the breakpoints). See `examples/autotest.lua` for how it's used.

`output stdout` is used to send "print" output from the application to the controller; 'd' means default (no copying), 'c' means copy (print and send remotely) and 'r' means redirect (only send remotely).

I've added these commands to `autotest.lua` as we

[2015-03-02 23:15] #15 closed

[2015-03-09 08:39] Atcold commented on #15
Perhaps this is a silly observation, but what I get from `luarocks` is not updated stuff...

[2015-03-09 19:34] pkulchenko commented on #15
@Atcold, thank you for the reminder; I should update luarocks for 0.61, but this won't still give you the latest version as those changes will need to be packaged as 0.62, which is not released yet. I usually take some time for any reports about issues to come in before making a new release. You can always install the module yourself, since it's only one file.

[2015-03-11 02:03] Atcold commented on #15
Yeah, that's what I did :)
Thank you very much.

Ah, I'm writing a tutorial about your debugger! You can find it [here](https://github.com/Atcold/Torch-Developer-Guide/blob/debugging/MobDebug/README.md), if you are interested :)

[2015-03-11 02:35] pkulchenko commented on #15
Alfredo, this is cool; thank you for sharing. BTW, there is zbs-torch repository and I have plans for providing out-of-the-box integration for Torch in ZBS (but it does need a bit of work).

[2015-03-11 17:16] Atcold commented on #15
Wow! So, if I may suggest, could you add the functionality to show `Tensors` with `eval`?
Right now, if I need to *evaluate* a tensor, I need to `exec print(Tensor)`.
It would be very nice to just `eval Tensor`!

[2015-03-11 17:47] pkulchenko commented on #15
Alfredo, what can't you use `eval Tensor`? Do you mean that you want to see

[code]

instead of `" 68  24  20\n 74  26  21\n 80  32  24\n[torch.DoubleTensor of dimension 3x3]\n"`?

[2015-03-11 19:31] Atcold commented on #15
Yes, you got that perfectly! :+1:

[2015-06-03 13:38] johnd0e opened #17 "localize coroutine.wrap"
This is commit from far-support branch: https://github.com/pkulchenko/MobDebug/commit/73cea884ccb493c89c845fa4bc9a1f317c3b3a65

Discussion: http://forum.farmanager.com/viewtopic.php?p=116873#p116873

[2015-06-03 13:42] johnd0e opened #18 "Update coro() method to return `create` and `wrap` values."
This is commit from far-support branch: https://github.com/pkulchenko/MobDebug/commit/0801f1847477dc1b01f789bb99506019ac31f150

Discussed here: http://forum.farmanager.com/viewtopic.php?p=116873#p116873

[2015-06-03 14:23] johnd0e opened #19 "Avoid os.exit()"
There are several places in mobdebug.lua where os.exit() called (on error, or debug session end).
I need somehow avoid this in order to continue normal client execution.

[2015-06-03 14:32] johnd0e opened #20 "Need mobdebug method to get current status"
Need mobdebug method to get current status:
- is connected?
- is debug on?

Discussed here: http://forum.farmanager.com/viewtopic.php?p=116950#p116950

[2015-06-05 01:45] xzzh999 opened #21 "How can i debug a process with ZeroBrane Studio with MobDebug?"
Hi, bigcow, i am a newbie to lua, and can you tell me hao to debug with another windows process with
ZeroBrane Studio? I used some kind of lua debug ide like LuaStdio before(cracked version and unstable,in my country this is a very common habit), and i knew it inject into the process and so to debug it. Now i don't want to use LuaStdio, i use ZeroBrane Studio with MobDebug, and it's a great tool.

[2015-06-05 04:19] pkulchenko commented on #21
You should be able to debug any Lua process; you can check the [instructions for remote debugging](http://studio.zerobrane.com/doc-remote-debugging).

If you want to ask a question, there are several way listed on the [community page](http://studio.zerobrane.com/community).

[2015-06-05 04:19] #21 closed

[2015-06-05 04:22] pkulchenko commented on #19
@johnd0e, yes, but this is not likely to change. There is DONE command that doesn't trigger `os.exit()` (it's available as `Project | Detach` command in ZeroBrane Studio) and some environments set `os.exit` to `require('mobdebug').done`.

[2015-06-05 04:22] #19 closed

[2015-06-05 04:30] pkulchenko commented on #20
Agree; what do you mean by "is debug on"? I checked the discussion, but couldn't try figure out how this is going to be used. It's easy to check if there is an active connection, but I'm not sure what else may be needed.

[2015-06-05 04:43] #17 closed

[2015-06-06 03:10] xzzh999 commented on #21
Thank you very much, i install LuaSocket and MobDebug and now i can remote debug the process now. but there still a question:   when the script had an error or assert at the runtime, can MobDebug  pointed out that which line and in which script file that had happened? ( I found ZeroBrane Studio had nothing information in the output window)

[2015-06-06 03:55] xzzh999 commented on #21
I found lua_pcall had a errfunc parameter to put in, this can used to print the stack.

[2015-06-06 06:26] pkulchenko commented on #21
You can wrap your call into a `xpcall` and use `debug.traceback` to print the stack trace, but it needs to be done in your script as when you start debugging with the `start()` call, there is no way to intercept the error at the Lua level. Lua 5.1 used to support `debug.traceback` overwrite, but it's not supported in Lua 5.2 and 5.3 (and probably not in LuaJIT either).

[2015-06-06 13:34] xzzh999 commented on #21
Well, you are exactly right.

[2015-06-08 13:39] johnd0e commented on #19
It is grayed:
![image](https://cloud.githubusercontent.com/assets/1838643/8035807/30d3ea34-0dfc-11e5-9603-ffaa7e8eaf43.png)
But it gets available afer I press Shift-F9.
Isn't it strange?

[2015-06-08 17:46] pkulchenko commented on #19
It's by design as the current DONE interface requires the debugger to be suspended to be executed properly. It may be possible to execute it while the debugger is running, but it requires changes in both the debugger and the IDE. Would it resolve the issue if it was available all the time?

[2015-06-09 11:11] johnd0e commented on #19
Well, it is currently hidden too deep in menu (and has no keyboard shortcut).
I would prefer to have dedicated toolbar button (and some way to remove "Stop" button).

[2015-06-09 13:22] johnd0e commented on #20
Is debug hook is set for current coroutine

You mean it's easy to implementate?
Or there is some way to check this now?

[2015-06-09 21:16] pkulchenko commented on #19
Yes, but you can assign it a shortcut

You can hide the Stop button and/or change the icon on the Detach button to use the stop button

It should be there already; it's on the right side of the Stop button.

You can hide the Stop button with `toolbar.icons[ID.STOPDEBUG] = false`.

[2015-06-09 21:42] pkulchenko commented on #20
Yes.

No

I can probably create a function (`ison` or something similar) that returns `true` if the hook is on for the current coroutine, `false` if the debugging is on for some other coroutine, but not this one and `nil` if the debugging is off (after `off` for all coroutines, after `done`, or before `start`).

Does this cover all your needs? How would you use it?

[2015-06-10 10:40] johnd0e commented on #20
I want to control debugging from client side.

It seems that I can just use `debug.gethook()` for this purpose

Maybe it is even excessive.
(I want to evaluate this, how can I get it inside of mobdebug?)

Yes, this is absolutely needed.
Is it the same as `mobdebug`'s internal function `isrunning`?

[2015-06-10 14:20] johnd0e commented on #19
Cool!
But I am unable to find ID of the action (other actions is in `keymap.lua` but not this one)

Indeed!
(I was confused by difference between menu command name and hint text)

[2015-06-10 16:26] pkulchenko commented on #20
I thought about it, but it's not that easy, as there is a difference between Lua (which has hook per thread) and LuaJIT (which has one hook for all threads), so you are going to get different results. Mobdebug hides the difference and does the right thing, but you'd need to re-implement the same logic and would need to have access to some internal structures. There was another reason, but it escap

[2015-06-10 23:41] pkulchenko commented on #19
@johnd0e, indeed; I pushed a change that fixed that. The ID is `ID.DETACHDEBUG`. You can also check `toolbar.lua` for the list of all toolbar icons. It's possible to enable/disable/add/change buttons/icons/descriptions from the config file.

[2015-06-11 11:07] johnd0e commented on #20
Could you tell more about that?
What is hidden by mobdebug?
Should I run mobdebug.on() for every coroutine in luajit?

I am not sure if there is any difference (current or other coroutine ) as I use luajit

[2015-06-11 12:27] johnd0e opened #22 "luajit substitute for mobdebug.coro"
As follows from [this](http://forum.farmanager.com/viewtopic.php?p=116842#p116842) discussion, mobdebug makes special actions to forbid debugging of that coroutines, where it was not explicitely enabled with `on() ` call (or implicitely via `coro()`)

It looks like overkill: forbid debugging in one place, and compensate it by unobvious and tricky `coro` call.

I understand that it's all for the sa

[2015-06-11 14:43] johnd0e commented on #19
Thanks.

Concerning issue subject: there are several places where `os.exit` is called in case of error.
And on next line after I see `os.exit` `return <somevalues>`.
How is it supposed to be used?

I guess to return from function I need first to reassign `os.exit` to dummy function, right?

And when those errors can happen?
Is it possible to into them using mobdebug in client application?

[2015-06-11 14:53] johnd0e opened #23 "package.loaded.mobdebug = mobdebug"
[code]
I see mobdebug now does not `require` itself in code, so this line is probably not needed anymore.

[2015-06-11 16:13] pkulchenko commented on #23
This is for those (rare) cases when mobdebug is included in the code and not as a standalone file (for the ease of packaging). You code, which you may not want to modify, can still use `require "mobdebug"` and even though there is no `mobdebug.lua` file, it will still work.

[2015-06-11 16:13] #23 closed

[2015-06-11 17:54] pkulchenko commented on #20
Yes; this logic makes it works the same way (in terms of coroutine debugging) for LuaJIT and other Lua interpreters.

There is as debug hook is going to be returned early for those coroutines that don't have debugging enabled (even under LuaJIT).

[2015-06-11 18:00] pkulchenko commented on #22
@johnd0e, you mean some special option like `require('mobdebug').allowall`? You don't like the fact that `coro()` rewrites `coroutine.create`? Maybe the proper solution under LuaJIT would be to still call coro(), but instead of overwriting `create()`, it would implement some different logic (would set an internal flag that enables debugging for all coroutines under LuaJIT)?

This would not only ad

[2015-06-11 18:02] pkulchenko commented on #19
Yes; that's precisely why the `return` is there (as `os.exit` may not exit the app if overwritten).

Yes, the debugging will be aborted in this case, but it should be properly handled by both the debugger and the controller (in the IDE).

[2015-06-12 09:42] johnd0e commented on #23
If I include the whole module in my code then it is very easy to modify `package.loaded` myself.
(though as for me, I would prefer to avoid such bad practice anyway)

[2015-06-12 10:31] johnd0e commented on #20
Perhaps we need somehow to differ between "off for all coroutines" and "not connected"?

[2015-06-12 13:13] johnd0e commented on #19
Actually not just debugging be aborted, but whole client application will be aborted (unless it reassigns os.exit).
And this necessity of `os.exit` overloading seems non-obvious (and even non-natural, sort of hack) for me, especially given that such subtle details are not documented anywhere.

That's what this issue about.
My suggestion is to include this to mobdebug interface.
e.g.:
[code]
Imho,

[2015-06-12 15:19] johnd0e commented on #22
Exactly.

I do not like it just because it is redundant entity (in the context of luajit)

Imho this would make things even more complicated (see my concerns about `coro` here: https://github.com/pkulchenko/MobDebug/issues/18)

Great!

[2015-06-12 21:14] pkulchenko commented on #23
This is not necessarily a bad practice. I've seen (mobile) environments that don't allow for external modules, so "require" fails if the file is not in "loaded".

Still, this is a good point; I'll make the change.

[2015-06-12 21:17] pkulchenko commented on #19
I'm slowly getting around on this. Having `mobdebug.onexit` and using it instead of using `os.exit` directly seems like a good idea.

[2015-06-12 21:20] pkulchenko commented on #22
I'm confused. If we do this for LuaJIT, you wouldn't need #18 at all as the debugging would be enables without `create` and `wrap` reassigned, no?

I'd still need to track for coroutines as you may want to disable debugging with `off` calls for specific coroutines (and enable back with `on`), but it would be on by default for all LuaJIT coroutines.

[2015-06-12 22:28] pkulchenko commented on #20
So, it seems like we'd need 4 states: connected, connected and off everywhere, connected and on, connected and on elsewhere. You can probably check the second one by just doing `debug.gethook`, but you'd need a new method to check for states 3 and 4. Given this, I still think that `nil/true/false` is enough.

[2015-06-13 09:09] johnd0e commented on #22
In fact I am already doing without #18 (using own `coro` implementation in my code).
So think of that issue as suggestion only, particularly useful for non-luajit environment.

Sure.
Is it possible to make `on/off` methods acting globally (maybe passing some argument to them)?

[2015-06-13 09:23] johnd0e commented on #20
You mean that when "connected and off everywhere" `debug.gethook` should be not `nil`?
Is it right for non-luajit?

[2015-06-13 09:38] johnd0e commented on #23
Agree.
I object only against modifying of `loaded` inside of module itself.

It still should be possible to access mobdebug via some global variable.

[2015-10-18 19:33] mpeterv opened #24 "Debugger connection closed after some commands"
Using the version from the master branch (by the way, it would be great to have 0.62 available through Luarocks), the debugger exits without any errors after running any of `exec`, `listw`, `listb` and `help`. On the side of the program being debugged I get

[code]

[2015-12-20 18:13] ianfitzpatrick commented on #24
Just a "me too" on this one. I'm just starting out trying out learning Lua for use with Love2D and ran into this problem as well.

As soon as I type `help` I get a list of help commands, and then dumped back to the mac command line.

[2015-12-20 18:37] ianfitzpatrick commented on #24
FWIW, commit `cb0bb5bb80a0562ec5aed0f44bddccd47a809d0c` does not seem to have this issue. Help command works fine and doesn't dump me to command line.

[2015-12-20 22:43] pkulchenko commented on #24
@ianfitzpatrick, are you saying that cb0bb5bb doesn't have that issue, but the HEAD does? The last two commits shouldn't make any difference as one updated the tests and one fixed the localization in the code.

[2015-12-21 04:35] ianfitzpatrick commented on #24
@pkulchenko Yep, sorry, this is exactly what I'm telling you :( !

[2015-12-21 19:12] mpeterv commented on #24
cb0bb5b also has the issue for me.

[2015-12-21 19:16] pkulchenko commented on #24
Yes, I suspect that it's an earlier commit, but I haven't tracked it down yet.

[2015-12-21 19:54] mpeterv commented on #24
I bisected and it's 94026b2.

[2015-12-21 20:01] mpeterv commented on #24
Specifically, in 94026b2 debugging stops when `handle()` returns nil values, but some commands return nil or nothing on success, including `help`: https://github.com/pkulchenko/MobDebug/blob/94026b286b1a81919fcf9a33af7c74ccdcf8544a/src/mobdebug.lua#L1550

[2015-12-22 06:07] #24 closed

[2015-12-22 06:11] pkulchenko commented on #24
@mpeterv, @ianfitzpatrick, should be fixed now (assuming you use the `listen` function from the module). Thank you for the report and the details.

[2016-01-21 07:49] simonwu-os opened #25 "update luarocks version"
can you update luarocks version please?
In rocks, the MobDebug version is 0.55. It is too old and can't be used in Lua5.3.

[2016-01-22 05:38] pkulchenko commented on #25
@simonwu-os, I'll try, but another user has ownership of mobdebug on luarocks website. I asked for a transfer, but it may take some time.

[2016-01-26 00:52] pkulchenko commented on #25
I've released v0.63 and pushed to luarocks: http://luarocks.org/modules/paulclinger/mobdebug. Let me know if you find any issues with that version.

[2016-01-26 00:52] #25 closed

[2016-08-18 17:53] raingloom opened #27 "Make sure metamethods can't interfere with Serpent"
I've produced [a few test cases](https://gist.github.com/raingloom/f1b06b5d10a068d8abe49ff04be3e42c) that can either interfere with debug output or outright crash the debugger. This is really just an annoyance for me, but it may also have some security implications.

The metamethods I've tested were `__pairs` and `__tostring`. The former is easy to work around using `next`, but the latter needs a

[2016-08-26 19:38] chansey97 opened #30 ""Run To Cursor" and "Continue" don't work when remote debugging."
After read the documents (https://studio.zerobrane.com/doc-remote-debugging), I try to debug my project using remote debugging.

After run my application, I could see green arrow pointing to the next statement after the start() call in ZeroBrane Studio and I can press "Step over" to jump code step by step.

The problem is :
I only jump code step by step. If I toggle breakpoint at the next 3 line a

[2016-08-26 20:00] pkulchenko commented on #30
Take a look at [this FAQ answer](https://studio.zerobrane.com/doc-faq#why-breakpoints-are-not-triggered) to see if any of this applies to you. If none of this helps, I'll need a small example that you can reproduce this on.

Also, there have been several small improvements in working with relative paths in remove debugger, so you may try with v1.40 that was just made available.

[2016-08-26 21:29] chansey97 commented on #30
@pkulchenko
I wrote a small example which can reproduce this issue.
Unzip the test.zip.

There 3 folder and 1 batch file.
bin,lualibs: Don't worry, all of these files are copied from your ZeroBraneStudio code. (no virus)
src: main.lua is the main program.
test.bat: I wrote a batch file which can launch this application.

reproduce step:
1. Open ZeroBrane Studio. Go to Project | Start Debugger Serv

[2016-08-27 04:26] pkulchenko commented on #30
What do you set the project directory to and what's the content of the Output window? I think it's a matter of setting the project directory to the correct location.

[2016-08-27 07:46] chansey97 commented on #30
1. the project directory is "open main.lua and press 'set project directory from current file' button'".
2. Output window: I capture a screenshot.
![untitled](https://cloud.githubusercontent.com/assets/4015056/18026008/3baf1692-6c6d-11e6-816a-4471731f6ff7.png)

You can use my small example (test.zip) to reproduce this issue by your self.

[2016-08-27 16:02] pkulchenko commented on #30
You can inconsistent paths in your scripts: `e:/work/test/src/main.lua` where the breakpoint is set doesn't match `e:/work/test//src/main.lua` path reported by the interpreter. Try starting using `lua.exe %~dp0src\main.lua`. The debugger does do some normalization of paths, but only if it finds up-dir references (`../`).

[2016-08-27 16:02] #30 closed

[2016-08-27 18:32] chansey97 commented on #30
Thanks.
It works well when using lua.exe %~dp0src\main.lua.
But I think it will be better if ZBS can filter "//"to '/' when source mapping.

[2016-08-27 20:21] pkulchenko commented on #30
ok; thanks for confirming it's working. I'll consider having additional processing, but there are some valid reasons not to do it in this case.

[2017-02-14 08:32] LinkerJL opened #31 "overwriting debug.traceback corrupts the lua global environment"
I tried to integrate MobDebug into Cocos2d-x lua in my game.
But I found that MobDebug overwrites the **debug.traceback** function.
Both Cocos2d-x (v3.10) and my code use **debug.traceback** (see `cocos2d/functions.lua` for example). This causes conflicts.
Change behavior of a common function is not a best practice, I think.
Why not just provide another function (i.e. **mob.traceback**)?

[2017-02-14 15:51] pkulchenko commented on #31
@LinkerJL, what version of Lua interpreter are you using? `debug.traceback` is used to provide a limited way to debug after run-time errors, but it's effective only in Lua 5.1 and can be skipped with other versions.

Also, there is a simple workaround: save the value of `debug.traceback` before `start()` call of the debugger and restore it after the call.

[2017-02-17 06:13] LinkerJL commented on #31
@pkulchenko, sorry for responding late.
Yes, I use Lua 5.1.

I have tried your workaround and it works. Thanks a lot.
And I think you should document about this.

[2017-02-17 06:20] pkulchenko commented on #31
Good point. Where would you check for this information? I'm thinking about adding this to README, but not sure if that's where the users would check...

[2017-02-24 05:15] Positive07 opened #32 "Documentation to implement servers"
Is there some handy documentation on how to implement the server? What commands should be sent and how each part relates to each other.

I have been reading the source but I have to look for commands all over the place I have found a few but I'm not sure of what they do and what the arguments are (Please correct this information if something is wrong)
[code]

Some more questions:

- What are the p

[2017-02-26 04:08] pkulchenko commented on #32
@Positive07, there is no detailed documentation, but there are couple of places you can check. At the bottom of mobdebug.lua, there is a list of commands and their descriptions (this should answer at least some questions).

I think we need to settle on the terminology as I'm not sure what you call "server". The debugger has two parts: one part runs in the application (this is instantiated by calli

[2017-02-26 04:34] pkulchenko commented on #31
@LinkerJL, btw, what was the original problem? The function that overwrites `debug.traceback` returns the "original" value by `debug.traceback`, so you should get the correct result.

[2017-02-26 07:36] Positive07 commented on #32
All right! Now I understand some more

Yes, that's what I call a server and what I'm currently trying to implement in JavaScript.

So let me ask some questions (I will install ZeroBrane and do what you proposed but asking can't hurt):

- What are the differences of `STEP`, `OVER` and `OUT`? What does "run until next line, stepping **into**/**over**/**returning** functions" mean?
- When you say tha

[2017-02-26 22:43] Positive07 commented on #32
Well ZeroBrane is not that helpful either, I want to know more about the underlying stuff, ZeroBrane shows which functions of MobDebug it calls, and what are the parameters received. I would like to know what MobDebug sends and receives.

So for example `delallb` is not actually a command sent by MobDebug, it's actually sending multiple `DELB` commands, I would like to see all the `DELB` commands

[2017-03-14 08:34] LinkerJL commented on #31
@pkulchenko, sorry for responding late again.

Let me explain the original problem:
`cocos2d/functions.lua` has some hard code as follow

[code]

and MobDedug just erase part of the content return by debug.traceback

[code]

So the conflict occurs.

[2017-03-14 08:49] LinkerJL commented on #31
Usually, I would look for this information in README.
It would be better if you add a section after the **Dependencies** section. Users could skip it if they were in a hurry, or they could read it for help if they found a problem.

[2017-03-29 09:55] 1linux opened #33 "Debugger breaks with copas/http-client request and timeout"
When debugging a copas-program, which runs in timeout issues in a http-client-request, then line 1111 breaks:

`1111    return (dtraceback(...):gsub("(stack traceback:\n)[^\n]*\n", "%1"))
`
because dtraceback returns a table {"timeout"} in this case.

So I replaced line 1111 with:

[code]

[2017-03-29 22:05] pkulchenko commented on #33
@1linux, do you have a client example I can test this on? I can see how this can happen with the logic in mobdebug, but I'm not sure how `debug.traceback()` can return a table.

[2017-03-29 22:06] pkulchenko commented on #33
Also, what Lua version are you using?

[2017-03-30 09:32] leiradel opened #34 "Can't debug scripts running on mobile devices"
The path to scripts in mobile applications are different from the one in my development machine. Worse, it changes on each build at least on iOS devices.

I tried to add a command to MobDebug to specify a regex pattern to transform local file paths in the mobile devices into paths that ZeroBrane Studio could find in the development's machine file system, but failed to make it work.

It would be ni

[2017-03-30 16:20] pkulchenko commented on #34
@leiradel, when you say debugging doesn't work, do you mean that the breakpoints are not working or do you mean it's not working completely (you can't start debugging for some reason)?

This type of debugging should definitely be supported, although in complex situations it may require a bit of help from the user. Mobdebug not only supports cross-platform debugging, but it also provides debugging

[2017-03-31 20:03] 1linux commented on #33
Hmm. It happened in production code, which is huge. Try to cut it down to a simple example...

Viele Grüße,
Helmut Gruber

Mobil gesendet

[2017-03-31 20:27] 1linux commented on #33
Lua 5.1.4 on Win32 (luarocks dist)
[code]

[2017-03-31 20:28] pkulchenko commented on #33
@1linux, thank you for the example! Will check...

[2017-04-01 18:00] pkulchenko commented on #33
@1linux, can you try the following patch to see if it fixes the issue:

[code]

[2017-04-03 16:09] leiradel commented on #34
I'll double check and reopen this if I can't make it work. Thanks for answering, and sorry for the noise.

[2017-04-03 16:09] #34 closed

[2017-04-03 16:20] pkulchenko commented on #34
@leiradel, definitely re-open if it doesn't work for you; it's quite possible you have some configuration that requires setting base directory; see [this thread](https://www.freelists.org/post/zerobrane/Remote-debugging-IDE-project-path-vs-actual-file-path) for related discussion.

[2017-04-05 03:13] #31 closed

[2017-04-05 03:13] #33 closed

[2017-04-06 10:55] leiradel commented on #34
Hi, I've made some tests and still have issues. I'm testing a Mac build running on the same machine as the debugger. All scripts are in the same folder.

When I debug using ZeroBrane, it stops at the beginning of the script and I can run it step by step, but I can't step into functions defined in other Lua modules. If I use the command-line debugger, everything works fine.

One thing that strikes

[2017-04-07 02:02] pkulchenko commented on #34
This depends on whether the file is already open in the IDE or not. By default the debugger will not step into functions defined in files not open in the IDE, so the solution is to either open the files or to set `editor.autoactivate=true` (see https://studio.zerobrane.com/doc-editor-preferences).

That's a tricky one, because on case-insensitive systems opening "Test.lua" and "TEST.lua" will open

[2017-04-07 02:08] pkulchenko commented on #34
I just re-read the message and can say that I wouldn't expect the lower-casing to happen here, although there are configurations of iOS and MacOS that are case insensitive. Currently the logic for the case-preserving check is the following:

[code]

Is `iscasepreserving` value `true` in your case? This would explain why the names are lowercase, but shouldn't stop the IDE from finding and opening t

[2017-04-07 08:48] leiradel commented on #34
Ah, thanks, this is so useful it should be on by default.

Yes, things are working just fine so there's no reason to change anything. I only thought it could be the reason for the problems I was facing.

I'm having trouble getting the value straight out of `mobdebug.lua`, but I ran those lines in a OS X prompt:

[code]

[code]

So I'm also puzzled by the case conversion.

Another thing is, my scri

[2017-09-04 21:41] #27 closed

[2017-12-08 03:48] komapa opened #36 "Version 0.70 not available via LuaRocks"
Just as the title says:

[code]

[2017-12-08 17:22] pkulchenko commented on #36
You can install it locally as the spec is provided in `misc/mobdebug-0.70-1.rockspec`. I'll push it to luarocks.

[2017-12-10 02:13] pkulchenko commented on #36
@komapa, uploaded the spec: http://luarocks.org/modules/paulclinger/mobdebug/0.70-1. Can you check the install and update the ticket?

[2017-12-10 02:13] #36 closed

[2017-12-20 16:16] moteus opened #37 "Start and off method"
My use case now is work with server which creates separate coroutine for each request.
So code looks like this
[code]
In this case I have small inconvenience.
Debugger interrupt execution of main thread just after `mobdebug.start()` returns.
But I really do not need this. I just need only connect to debugger and then
just turn on debugger in some functions.
So I suggest add one more argument to `s

[2018-03-07 19:55] phweyland opened #38 "ZBS for Darktable on windows 64bits"
I'm trying to figure out how to use ZBS for Darktable plugins o Windows.
The start of the module is like this:
[code]
And I get the following error.
[code]
If I remove the darktable debug option the plugin doesn't start neither.
Could you help fix this ?

ZBS: 1.70; MobDebug 0.70
Darktable 2.41
Windows 10
core.dll : the 64bits ones provided by you on a separate [link](https://download.zerobrane.co

[2018-03-07 21:48] pkulchenko commented on #38
I don't think this is a problem with the IDE or its debugger; the error you see happens because loading of mobdebug.lua is looping because of the way your path/cpath settings are specified.

You need to specify the paths a bit differently:

[code]

[2018-03-07 21:48] #38 closed

[2018-03-08 05:04] pkulchenko commented on #38
It seems like you also need to add path for the socket library; use the following instead of `package.path` assignment:

[code]

You can use a batch file instead of specifying the paths in the script; see the description here: https://studio.zerobrane.com/doc-remote-debugging

[2018-03-08 11:24] phweyland commented on #38
Thank you. Seems to progress. The error is now (on 64bits system...):
[code]
With  the code :
[code]

[2018-03-08 17:43] pkulchenko commented on #38
It's because you are loading 32bit libs included with the IDE into your (likely 64bit) application. You need to be using 64bit socket libraries. See the [documentation for details](https://studio.zerobrane.com/doc-remote-debugging). You can get 64bit socket libraries here: https://download.zerobrane.com/luasocket-3.0-win64.zip; you just need to make them available to your application and adjust `p

[2018-03-08 18:26] phweyland commented on #38
This time ZBS gets started.
I've just changed the library by the ones you've just provided.
In your documentation, the paragraph "Debugging of 64bit applications" doesn't mention this link. I think this would be helpful.
Thank you very much again for your quick and efficient support !

[2018-03-08 18:52] pkulchenko commented on #38
I'll consider adding the link, but it's "unofficial", as it's expected that if you are using 64bit application, you are likely already have luasocket for it, although there may be cases like yours when it's a 3rd party application, which can benefit from the library.

[2018-03-08 19:27] phweyland commented on #38
Now the breakpoints... do not break.
On the initial break (green arrow) I can Step over along the main thread and it breaks at each step.
But, even adding `require('mobdebug').on()` doesn't make the break (red point) work.
Continuing to follow the faq, I've also tried to add `debug.getinfo(1,"S").source`, but that trigs an error:
[code]
having this code:
[code]

[2018-03-08 23:20] pkulchenko commented on #38
You need to print the value. Change the first line here to `print(debug.getinfo(1,"S").source)`, as the existing line is not valid syntax.

[2018-03-09 12:37] phweyland commented on #38
Thank you for your patience !
`dt.print(debug.getinfo(1,"S").source)` gives this:
![image](https://user-images.githubusercontent.com/23012047/37207289-13c22180-237b-11e8-8bc0-a76f5fdc00bc.png)
Is `@` normal ? (when I use dt.print to show data I don't get this character).

[2018-03-11 23:26] pkulchenko commented on #38
Yes, `@` is normal and it's being handled correctly. I wonder where `/lua/mylua` path is coming from. I think it will be handled correctly if you drop the leading slash, so it looks like `...Darktable\lua/mylua/...`.

[2018-03-28 19:01] aldus2 opened #39 "Wrong display (console and in site comment) when a table has two equal references"
I thought there was a problem with lua but in fact, everything works fine, it is only a question of wrong display of the console or of the in situ comments.
Here is an example :
[code]
In the console in response to the question :
arrFunc
the answer :
{function() --[[..skipped..]] end --[[function: 0x1371060]], nil --[[ref]]} --[[table: 0x1371150]] --[[incomplete output with shared/self-references

[2018-03-28 20:58] pkulchenko commented on #39
It's a feature; it's not possible to return table literal that includes shared or self-references, so the serializer replaces them with `nil` values and adds a comment to indicate that this is the case. You can use `.dump` method instead of `.line`, which is more verbose, but doesn't have this issue.

[2018-03-28 20:58] #39 closed

[2018-08-27 05:49] phansonloc1999 opened #41 "How can i use this with Love2d?"
I'd like to use mobdebug in vscode but not sure how to install and get it to work. (Sorry, i'm new to computer science and programming)

[2018-08-28 03:17] pkulchenko commented on #41
Someone will have to write the integration code for vscode to work with Mobdebug (similar to how I did this for [ZeroBrane Studio IDE](https://studio.zerobrane.com)).

[2018-08-28 03:17] #41 closed

[2019-04-03 13:34] weepy opened #42 "Chrome dev tools"
how feasible is it to use with with chrome's dev tools ?

[2019-05-16 19:09] mdurn commented on #37
Any updates on this (or any other way to do this)? Specifically on skipping the first debugger pause from start()? My use case is debugging in openresty and using a mobdebug listener from my shell. I would rather only break at my pause statements.

[2019-06-06 14:48] ildar commented on #32
There's another approach you might like. You can do debugging session and record the commands with network sniffer. This is mainly Wireshark. Then you look at the pure network conversation between the client and controller in that same Wireshark

[2019-07-07 09:06] ygm521 opened #44 "调试请教-how debug"
您好！
我想Windows上使用IDEA远程调试Linux上的openresty的lua程序。
widow上IntelliJ IDEA 2018.2.1+EmmyLua 1.2.6-IDEA182
Linux上程序test.lua中加入了：
   local mobdebug = require("src.initial.mobdebug");
  mobdebug.start(8172);

但是我不清楚Linux是作为服务端监听8172，Windows上使用idea作为客户端连接Linux的8172端口？原理是怎样的？如何使用呢？谢谢！

Hello!
I want to use IDEA on Windows to remotely debug the openresty lua program on Linux.
Widow on IntelliJ IDEA 2018.2.1+Em

[2019-07-09 17:24] pkulchenko commented on #44
This needs to be `Mobdebug.start("ip-address-of-computer-running-IDE")`; see this section in the documentation for more information: https://studio.zerobrane.com/doc-remote-debugging

[2019-07-09 17:24] #44 closed

[2019-08-13 12:13] SoniEx2 opened #45 "Raw bytecode debugging"
Would it be possible to debug raw bytecode with string.dump and a count hook?

[2019-08-13 16:58] pkulchenko commented on #45
@SoniEx2, somebody would have to try that, but there wouldn't be anything to step through, as you'd still need the source code to work with in the debugger, right?

[2019-08-13 17:23] SoniEx2 commented on #45
you can step through instructions.

[2019-08-13 17:26] SoniEx2 commented on #45
I'm not sure how feasible it is to have luac -l -l as part of the debugger. but it'd be kinda nice imo.

[2019-08-13 18:32] pkulchenko commented on #45
I agree, this sounds like an interesting idea, which should be quite doable using the source map support in mobdebug, but not something I have short term plans for.

[2019-08-29 19:14] zdychacek opened #46 "Inspect variables in an actual scope"
Hi, I just want to ask if there is a way to inspect variables names and their values within an actual scope?

Thanks.

[2019-08-29 20:52] pkulchenko commented on #46
@zdychacek, what do you mean by "actual scope"? In a specific stack frame?

[2019-08-30 10:14] zdychacek commented on #46
@pkulchenko, yeas, I mean a specific stack frame.

I lack some kind of command, which would list all variables in the specific stack frame and show their associated values as well.

Something like a command `info locals` from GDB debugger.

This command prints the local variables in the currently selected stack frame.

Is there any way to get this kind of information?

Thanks.

[2019-08-30 17:18] Piping commented on #32
It is great to look at comments to get the big picture.

I am used to `gdbserver <port> <app>` and `gdb -ex 'target remote <ip:port>'` relationship.

From what I have read, `mobdebug`'s picture is different. In lua debug setting, application being debugged is not server waitting for attach, but the one initiates request to a server and wait for server to send commands.

And I have to setup `contor

[2019-08-30 17:52] pkulchenko commented on #32
@Piping,

That's correct.

[2019-08-30 18:48] pkulchenko commented on #46
@zdychacek, there is no command to get a specific stake frame, but you can get that information form the STACK command. Also, EXEC command take optional comment that may specify what stack frame to use for the execution. For example, `EXEC a --{stack=2}` will get `a` value from the parent frame (where `stack=1` is the current/default stack frame).

This doesn't give you the list of variables avail

[2019-08-31 16:55] zdychacek commented on #46
@pkulchenko Thank you, for your answer.

Do you plan to implement any kind of this funcionality?

I would appreciate this :)

Thank you.

[2019-09-05 14:36] #46 closed

[2019-09-13 07:40] 1linux opened #47 "mobdebug suddenly gets out of sync"
In a project (which relies heavily on copas an coroutines) mobdebug suddenly shows these lines, however keeps on working - but verly slow as these lines are repeated permanently.
How can I track down this bug?

INFO		2019-09-13 09:30:40	...Public\Lua\ZeroBraneStudio\lualibs/mobdebug/mobdebug.lua:187: attempt to call field '__tostring' (a nil value)
stack traceback:
	c:\lua\systree\share\lua\5.1\co

[2019-09-13 22:29] pkulchenko commented on #47
@1linux, this doesn't look like mobdebug is getting out of sync; this is a case of an error inside `pcall` being reported by your interpreter for some reason. Are you using a custom version of `pcall`? These errors shouldn't be reportable at all.

[2020-06-08 21:15] urbanswelt opened #49 "Couldn't activate file - ini File with Global Function loaded at startup"
Hello Paul,
thirst of all, thank you very much for your development on MobDebug and ZeroBraneStudio !

Maybe it is working as expected, here my case:
Game --> XPlane 11 Flight Simulator --> Plugin Engine loads --> FlyWithLua
In this Plugin Environment can Lua Scripts run with "LuaJIT 2.0.5"

When this Plugin is loaded in Xplane, it reads in the first time an ini File with some Basic stuff plus del

[2020-06-09 00:09] pkulchenko commented on #49
@urbanswelt, I think it is mostly working as intended, but you may be running into an edge case.

It is possible to step into code loaded with `loadstring`, but it needs to be longer than one line (this is a side effect of not having a filename to load a fragment from to be provided, as `luaL_loadstring` doesn't have a parameter to pass the filename with; `luaL_loadbuffer` does though).

The messa

[2020-06-09 18:35] urbanswelt commented on #49
Thank you very much for this edge case ! =D
I see it the other way round, we have to change the exception handling of FlyWithLua.
I have seen some comments that this is necessary ;-)
At the same time this coding (...debug...)can be packed into an init.lua. This probably makes the most sense.

Last question from my side, is it possible to react at least to the output string ?

I am describing debug

[2020-06-09 21:44] pkulchenko commented on #49
Depends on what you mean by this. There is `debugger.outputfilter`, which allows to filter messages coming during debugging, but it's not called on errors with stack traces.

By default, the error messages in the Output panel are "clickable" as long as the error message has recognizable format, which can be configured (see `output.lineactivate` at https://studio.zerobrane.com/doc-general-preferenc

[2020-06-09 21:44] #49 closed

[2020-06-14 19:37] jsalzbergedu opened #50 "Feature Request: Pop Out Stack Frame, Break On Function Call"
Often, when I am debugging, I want to have either

A: a breakpoint on a function call so that I can see where a function is called and what values it is called with

or

B: the ability to pop backwards a stack frame so I can retry the function with different arguments.

Are either of these possible, and if so, do you have any advice as to how they might be implemented? Thank you.

[2020-06-14 20:14] pkulchenko commented on #50
You can set a breakpoint on the first statement in the function and it will break when the function is called.

To get the values it's called with, you can use the STACK command to retrieve the content of the stack, which will include all parameters and upvalues.

You can use "stepout" command, but you won't be able to re-enter the function with different parameters, as Lua doesn't support changin

[2020-06-14 20:14] #50 closed

[2020-06-14 20:24] jsalzbergedu commented on #50
Thank you!

Ok so that's what I meant for break on function call. Like if I have a function F at address P, before the function F at address P is called the debugger breaks. Is this possible via the Lua debugger?

Thank you.

[2020-06-14 21:05] pkulchenko commented on #50
No, the debugger doesn't know anything about addresses; it only "knows" about line numbers. Functions don't really have names, as they are anonymous values that can be assigned to different variables, so you can't really say "break at function a". What you can do is to figure our where the function starts (either because you have access to the source code or because the function has been created a

[2020-07-18 14:44] rulatir opened #51 "Openresty Challenge 2020"
I hereby challenge you to screencast and publish a video that demonstrates:

- your product, ZeroBrane studio
- in a remote debugging session,
- successfully stepping through and stopping on breakpoints in openresty Lua code
- that uses `modebug.lua` debuggee library
- and runs **in request context** (as oposed to merely `init_by_lua_*`)
- in relatively recent openresty (**not** a version from 201

[2020-07-18 19:06] pkulchenko commented on #51
It's unfortunate that you had to spent so much time trying to make it work for you, but I'm not sure what exactly you are questioning. If you suspect that what I published didn't work in 2014, then I presented a working example with an explanation of how to configure the application (I believe it was using `content_by_lua_*` or similar context, not `init_by_lua_*`). If you think that it may not wo

[2020-07-19 12:15] rulatir commented on #51
At this point I believe that:

- mobdebug doesn't work with reasonably current versions of openresty
- it hasn't at least since late 2018

In spite of this, the GitHub project readme, the tutorial from 2014, and your StackOverflow answers/comments (pointing to the tutorial) continually maintain that it works, which is false. This is a bit of a problem. Let me be clear: as of right now, I have give

[2020-07-19 12:53] rulatir commented on #51
When considering whether I should even go and check all those links you provided, I must wiegh the balance between predicted effort and estimated chances of success, and this balance does not look good after 18 months of consistent futility. You are THE author of the software. Can YOU make it work in the environment specified above? Because if YOU can't, then no-one can, and YOU should stop claimi

[2020-07-19 22:17] pkulchenko commented on #51
Can you point me to where I claimed that it's supposed to work on Linux in a Docker container?  I think the description you are referring to is explicit that the instructions are for Windows, but `should` work on Linux and macOS as well.

I don't owe you anything. Are you familiar with the terms of the license this is made available under: `THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY

[2020-07-19 23:04] rulatir commented on #51
I've been programming for 20+ years, so yes, I am aware that software is usually provided as is, without warranty of any kind etc. etc. Of all the software that I have used in my life, almost all of it playing fairly in the same league (i.e. provided "as is", "without warranty" etc. etc.), yours nonetheless has the distinction of being **singularly** responsible for the greatest number of grey hai

[2020-07-20 00:15] pkulchenko commented on #51
I find it strange that in the 2 years you tried to get it working (judging by your SO comments) you haven't opened a single ticket or asked me a question, but are still blaming me for your struggles.

I got it working with the current version of Openresty (1.17.8.2) in my setup with the following mobdebug patch:

[code]

You also need to make sure that the project directory points to the openresty

[2020-07-20 16:03] rulatir commented on #51
[code]

I haven't opened any tickets because I have the habit of checking for duplicates. There *were* duplicates. At the time I checked them, they remained open, without a resolution in sight, and with comments by you in the style of "hey try ZBS" and "it should work", followed by some back-and-forth with well-meaning competent users reporting the same issues again and again and again, followed b

[2020-07-20 16:14] rulatir commented on #51
However I must also ask about the future of this patch. Are you planning to merge it either into this project or into ZBS? (Is ZBS's mobdebug.lua upstream or downstream from this?). I can see that the last commit here is 2 years old. In the meantime I have seen you paste multiple patches in SO answers and issue comments. Every such patch presumably restores lost compatibility, sometimes lost for m

[2020-07-20 17:45] pkulchenko commented on #51
I understand why you may be disappointed, but SO is not designed for troubleshooting of issues and any back and forth to get additional information is difficult, as it's targeted at providing answers to specific questions.

If there are tickets that you feel duplicate your issue and have not been resolved, feel free to leave a comment and re-open the ticket if needed.

There is nothing capricious

[2020-07-20 18:35] rulatir commented on #51
Debuggers should not impose limitations on how either source files (in the monorepo) or runtime files (in the container) can be organized. Users of a debugger should be able to lay them out as it makes sense for the project, and to completely *specify* that layout to the debugger.

Single folder mapping is sufficient for small projects, and granted, most projects are small. Ours isn't. We don't us

[2020-07-20 18:53] rulatir commented on #51
Regarding your research as to whether this can be done without manual configuration, I don't think it can. I am not aware of any nontrivial remote debugger, IDE-integrated or not, that manages this automatically. IDEA doesn't. MS doesn't. Eclipse doesn't. Layout of runtime files in a remote, possibly runtime-optimized environment is strictly additional information that must simply be supplied.

[2020-07-21 04:53] #51 closed

[2020-07-21 04:53] pkulchenko commented on #51
@rulatir, I pushed the applied patch.

Right now the debugger figures out the mapping and it actually covers all cases I came across (including cross-platform debugging) with the exception of the multi-path debugging that @moteus is addressing with his patch.

I applied another change that removes the restriction of where the project directory should be set. Let me know if it works for you.

[2020-07-21 18:07] rulatir commented on #51
Almost good!

What's missing is the ability to actually step into files that are now correctly resolved to files on the host machine. Please bear with me, because this snippet from the Output pane (from a `busted` run) may *look like* the step-into action succeeded, but it *really didn't*.

[code]

I successfully suspend in a test (`port-mapping_spec.lua:29), at a breakpoint on a line that contain

[2020-07-21 18:25] pkulchenko commented on #51
As far as I understand the situation, this is by design. You either need to have the file already opened in the IDE or specify `editor.autoactivate=true` in the config to step into files that are not already opened.

Yes, this looks like the correct explanation of what happens. Are you running the patched/latest version of Mobdebug?

[2020-07-21 19:26] pkulchenko commented on #51
@rulatir, there is one more reason to have the file already opened, as the IDE does a bit of fuzzy logic to identify the file to stop in when there is no a direct match in the project folder. The `autoactivate` option only works if there is a proper/direct match.

[2020-07-21 19:29] rulatir commented on #51
That (and restarting ZBS) did the trick, thank you!

Yes I am.

A random idea here - have you ever considered moving the path mapping responsibility from mobdebug to debugger(s)? I believe, and I think you'll agree, that writing debuggee instrumentation is super hard. Instrumentation's responsibilities should be strictly limited to providing the magic that an external remote process cannot perform

[2020-07-21 19:53] pkulchenko commented on #51
So everything works so far?

I agree and have considered that, but I don't see a good way to do this. For example, the IDE sends a request to set a breakpoint on file `content.lua`, but the Lua interpreter running reports the path as `lua\content.lua`. Is it the same file? Without making that decision in Mobdebug, we end up either missing breakpoints or reporting possible breakpoints to the host (

[2020-07-21 22:07] rulatir commented on #51
In a `buster` run, yes. Will check request code debugging tomorrow, with the multipath PR.

This is the *other* mapping you are referring to, that between debuggee-local uniquely identifying absolute paths and the way Lua's native debugging facilities refer to .lua files or expect them to be referred to. This mapping must of course be handled by Mobdebug, and it must work two-way, for reporting cu

[2020-07-21 22:38] pkulchenko commented on #51
I'd be interested if it works both with and without the PR.

Sort of; in fact, mobdebug is fairly transparent in how this is done and doesn't really care about how the breakpoints are set. It (mostly) removes the basedir from the path, but if you are already passing a relative name (in debuggee space) or an absolute name in that space, either one will work. It will also report back whatever it get

[2020-07-22 01:12] rulatir commented on #51
Will do. But honestly, even if it happens to work without the PR, we still need a manual override for when the automagic fails.

I don't understand. I am seeing lines like this:

[code]

These paths are in project space, not in debuggee space. I am pretty sure this isn't what mobdebug gets from the Lua interpreter, because the interpreter has no idea about project space. So either mobdebug in fact

[2020-07-22 02:37] pkulchenko commented on #51
It depends on several factors (and may be something reported by the interpreter). It should be easy to check. Can you add printing of `debug.getinfo(2, "S").source`? I'd be curious to see what value is indeed being reported.

If the path starts with `../`, then it's concatenated with the "basedir" value (which may be set based on the project path) to properly normalize the result. In all other cas

[2020-07-22 16:33] rulatir commented on #51
Looks like it works when I cross my fingers.

Is it possible to set things up so that debugger wouldn't pause immediately after `mobdebug.start()`, only on breakpoints? Not having to manually make the server proceed after it stops on `mobdebug.start()` would be one step fewer in the whole squaredance (restart debugger server, reload nginx config).

[2020-07-22 16:37] pkulchenko commented on #51
@rulatir, yes, you can set `debugger.runonstart = true` in the config. See https://studio.zerobrane.com/doc-general-preferences#debugger.

You also *should* be able to un/set breakpoints while the script is running.

[2020-07-22 16:42] rulatir commented on #51
Is there a way to somehow start the debug session OnceAndForGood™? No matter what I try, I either get "Refused to start a new debugging session" warnings, or I get symptoms consistent with session not being started in the context in which lines with breakpoints are hit (i.e. nothing happens).

[2020-07-22 16:50] pkulchenko commented on #51
You need to make sure you call `require("mobdebug").done()` to finish the current session or use `Project > Detach Process` from the IDE, as otherwise you may get requests from multiple (nginx) threads requesting debugging, which is going to be rejected by the IDE.

[2020-07-22 17:10] rulatir commented on #51
So this means that mobdebug/ZBS combo was never designed to handle debugging code that can be run in multiple threads, and debugging such code in such environments will always involve extreme squaredancing (manual operations in the IDE before / after request, modifying debugged code in multiple places rather than just one, etc.)?

[2020-07-22 17:16] rulatir commented on #51
Not that this is a big loss. Debugging test cases works much more reliably, and that is where debugging should be done anyway.

[2020-07-22 17:55] pkulchenko commented on #51
No, it will work and I have a commercial extension that supports debugging of multiple threads in the same IDE, but it uses an extended UI, as it presents a list of threads under debugging, ability to suspend/resume, switch between those threads (as the breakpoints or current pointer needs to be redrawn in the IDE) and some other things. It's not trivial and would definitely complicate a "normal"

[2020-07-22 21:03] rulatir commented on #51
Experimenting further, I now have a small bit of code of interest between `mobdebug.start()` and `mobdebug.done()`, and a breakpoint on one of the lines in between. This code is run on every request exactly once. ZBS stops on the breakpoint exactly every other time (stops the 1st time, doesn't stop the 2nd time, stops the 3rd time and so on). Restarting the debug server in ZBS does not reset the p

[2020-07-22 21:24] pkulchenko commented on #51
Interesting; I suspect what happens is that the `basedir` value doesn't get reset after the first execution is completed. nginx is unique in a sense that the run is over (which usually means that the application is done), but mobdebug (and its state) is still in memory and is used for the next run.

The app reported relative path, whereas it should have started with `/lua/app/...`, so it doesn't g

[2020-07-22 21:31] pkulchenko commented on #51
Hm, actually no, this shouldn't be a problem, as the basedir is set explicitly at the beginning and `lastsource` value is reset when basedir is set. I'll have to think what else may be happening.

The issue is definitely with the path reported differently in response to the LOAD command, as you noted. Can you print `debug.getinfo(2, "S").source`? Is it possible that the interpreter indeed reports

[2020-07-22 21:33] rulatir commented on #51
Actually yes! I added `md.basedir("")` right after `md.done()` and now it pauses every time.

[2020-07-22 21:37] rulatir commented on #51
But there is one more interesting thing going on: when it *does* work, the next thing the debugger does after receiving response to `load` command is issuing `basedir` second time, and this time it sends *two arguments*:

[code]

And its a tab character between them! I'm not sure if this is what the controller really does, or a logging artifact.

[2020-07-22 21:41] rulatir commented on #51
Where do you want me to print `debug.getinfo(2, "S").source`?

[2020-07-22 21:42] pkulchenko commented on #51
Yes, that's correct; it's an indication that the path is being remapped. You'll see a corresponding message in the output panel to that effect.

Interesting. I'll have to add this to `done()` code then, as it's the right thing to do anyway (as the `basedir` command is not required to come before the debugging starts) and may appear at any time.

Before `start()` call. I'm curious if anything chang

[2020-07-22 21:53] rulatir commented on #51
I did both the second and first frame, because code of interest is directly called from another file which is even hit by a different package path entry. In both cases, the info is the same between even and odd requests, so that's covered.

[2020-07-22 21:56] rulatir commented on #51
Will monkeypatch `done()` for now.

[2020-07-22 22:01] pkulchenko commented on #51
Yes, something like this should work:

[code]

[2020-07-24 04:10] pkulchenko commented on #47
Closing. Please reopen if there is new information on this issue.

[2020-07-24 04:10] #47 closed

[2020-07-24 04:28] pkulchenko commented on #37
@moteus, coming back to this, three years later. I'd prefer to provide a table with options instead of adding a third parameter. Here is a patch against a current master; it adds `runonstart` option you can set to `false` to disable stopping:

[code]

Let me know how it works for you.

[2020-07-24 04:29] pkulchenko commented on #51
@rulatir, applied and pushed the last patch. Does this cover all your use cases?

[2020-07-24 11:24] rulatir commented on #51
Thanks! There are issues with step over (TL;DR it has the same effect as "continue"), but I'll report those separately.

[2020-07-24 15:26] pkulchenko commented on #51
You may want to check ZBS tickets as well, as it may have been already reported there.

[2020-08-13 09:33] YuDang1024 opened #52 "Breakpoints never hit"
I use IDEA to debug my mobile Lua program
![image](https://user-images.githubusercontent.com/55690445/90118067-4de06b80-dd8a-11ea-9630-01a9f5c083e4.png)
When using the default port 8172, the Android client cannot connect to my IDEA, so I use port 8082, because of this port, I have used adb to link it.
But when everything is ready and IDEA shows "Connected",
No breakpoint is hit
![image](https://us

[2020-08-13 09:46] YuDang1024 commented on #52
In the code, I only use the start function,
But in the github example, I found that they use: listen and loop functions. I don't know if this is the reason?
And in my code, after I use the listen function, there will be an error:
![image](https://user-images.githubusercontent.com/55690445/90119853-af093e80-dd8c-11ea-869a-57e14b9adfef.png)
I don’t know if the problem is caused by the current reason

[2020-08-13 15:47] pkulchenko commented on #52
You should use `start()` call. `listen` and `loop` calls are not going to help here.

If the connection between the application and the IDE is established during debugging, you may want to check this answer for details on why breakpoints may not be working: https://studio.zerobrane.com/doc-faq#why-breakpoints-are-not-triggered

If the connection is *not* established, you need to check if the appli

[2020-08-14 03:18] YuDang1024 commented on #52
I have carefully read this document above: https://studio.zerobrane.com/doc-faq#why-breakpoints-are-not-triggered.
Ten possible reasons are listed in it, I compared them one by one.
The first and second exclusions, the reason: I did not use any coroutine-related content in my Lua code.
The fourth exclusion, reason: all my file names are in lowercase letters.
The fifth rule is that the reason: afte

[2020-08-15 03:35] YuDang1024 commented on #52
I used another method, and now I can perform normal debugging.
When I start the project, I use the start function.
Then use the pause function when I need to make a breakpoint.
I don’t know where I have a problem with the environment configuration in IDEA. The breakpoints generated by my mouse click operation in IDEA cannot stop my program for debugging.
I think it may be necessary to write an ada

[2020-08-15 16:14] sonyps5201314 opened #53 "mobdebug.handle exec command will remove comments in string variable ,it will cause a problem."
[code]
use below code:
[code]
result is:
![image](https://user-images.githubusercontent.com/20564099/90316377-68664080-df54-11ea-9cdf-6bbe821d7ec5.png)

but execute local like below code:
[code]
result is:
![image](https://user-images.githubusercontent.com/20564099/90316410-9c416600-df54-11ea-967e-72aac184a72c.png)

[2020-08-17 04:51] pkulchenko commented on #52
I'm not sure what version of Mobdebug you are using, but can you try with the version from the master branch of the repository and report if there is any improvement with the breakpoint handling?

Can you also let me know what value is returned by `debug.getinfo(1,"S").source` call after `require("mobdebug").start()` command and what value the project directory is set to?

[2020-08-17 06:49] YuDang1024 commented on #52
Feel your care,
I solved this problem, and wrote my reason and solution in github, you can close my problem

https://github.com/pkulchenko/MobDebug/issues/52

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "pkulchenko/MobDebug"

[2020-08-17 15:10] #52 closed

[2020-08-19 05:19] pkulchenko commented on #53
@sonyps5201314, the following patch should fix the issue:

[code]

The comment-removing logic was too primitive to handle comments inside strings.

[2020-08-20 13:29] sonyps5201314 commented on #53
No, it will cause more problem, and it still can not solve '\n' char was replaced to '\r' in string variable parameter.
In my program, I use below code to send a function to remote client:
[code]
before use your patch file , the function work ok at least, but  after use the patch file , it will assert error at below line:
[code]
so I think the patch file is still not fix the problem, and cause new

[2020-08-24 04:59] pkulchenko commented on #53
@sonyps5201314, I don't think it will cause *more* problems, as the current method replaces it with a space *and* removes comments; the suggested patch will only replace it with `\r`, which in most cases will behave similar to `\n`.

I do agree that adding another command *may* address this, but it won't change the behavior of the EXEC command; since it may need to be updated, it will make it inco

[2020-08-27 20:00] sonyps5201314 commented on #53
for example，if use exec send a text file to client and get checksum，because \n replaced with \r， so they will be different checksum result.
and you can try my code mentioned above，if no use your patch file， it can run work，but use the patch file will have a runtime error.

[2020-09-03 12:27] sonyps5201314 opened #54 "the 'debug.traceback' defined in 'local function start(controller_host, controller_port)' has bug"
the example code from https://github.com/cocos2d/cocos2d-x/blob/v4/cocos/scripting/lua-bindings/script/cocos2d/functions.lua
[code]
the function call `debug.traceback("", 2),` and assume its result is not null, if use MobDebug remote debugger and open print redirect function like `debugger.redirect='c'` the `dump` function will crash, because the below code:
[code]
the line `return -- don't report

[2020-09-08 04:40] sonyps5201314 opened #55 "The call stack may not be displayed completely"
the next patch file can fix it.
[code]
before use it
![image](https://user-images.githubusercontent.com/20564099/92433643-40bf6c80-f1d0-11ea-9748-ea5988cb688a.png)

after use it
![image](https://user-images.githubusercontent.com/20564099/92433674-516fe280-f1d0-11ea-8975-3b8f8ee50d63.png)

[2020-09-08 05:10] pkulchenko commented on #55
@sonyps5201314, why do you think the second one is better than the first one?
`what=="main"` if it is the main part of a chunk, so it's outside of any function and can't be anything other than the top of the stack, no?

[2020-09-08 05:49] sonyps5201314 commented on #55
The main part of a chunk just means that it's the outermost code of a new file,
and if skip it, we can`t find which file causes the current file to be loaded, maybe this information is important for user, and no these, the user may think it is the top-level code. and no other Lua debugger does this filtering, it may cause confusion among users

[2020-09-08 06:01] pkulchenko commented on #55
Let me think about this.

[2020-09-08 06:03] pkulchenko commented on #53
I do realize that there may be cases where the processing is going to be affected. All I'm saying is that the fix I proposed is still better than the existing logic (even though implementing an additional command may cover all cases).

Having a new command still doesn't solve the problem with the behavior of the existing command, so I'd rather fix it as I proposed and wait for more feedback.

[2020-09-08 07:43] sonyps5201314 commented on #53
@pkulchenko,
I am the first feedback user of the new version of MobDebug.lua you want to release soon.
You can use the following patch file to easily reproduce the problem I mentioned. It will not let ZeroBraneStudio report an error before using the patch you provided. After using the patch, ZeroBraneStudio will report an error.
[code]
use your patch file before:
![image](https://user-images.githu

[2020-09-29 16:17] rulatir opened #56 "Give users full control over path mapping"
Please admit that it is a completely unrealistic fantasy to believe that path mapping between vastly different environments (development environment with checked-out monorepo source tree vs. docker container with highly optimized directory layout, container-only `.d` -> `.avail` style symlinks etc. etc.) can be solved entirely automatically.

Users **must** be allowed to take full control in this

[2020-09-30 06:47] pkulchenko commented on #56
@rulatir, to make this more productive, is there a specific patch for MobDebug you are thinking about or want to contribute? The patch you referenced from the ZBS repository does partially solve the problem, but it's not a MobDebug patch, so it doesn't help other MobDebug users.

Also, I'm not sure what exactly you want me to do. You already have access to the patch and can easily apply it to your

[2020-09-30 16:48] rulatir commented on #56
I keep getting confused as to which part of the path mapping is handled by which bit. _Ceterum censeo_ it should be handled exclusively on the IDE end, and splitting the responsibility was an architectural mistake that will keep snarling and biting everyone who approaches.

With explicit mapping I wouldn't have to use relative paths.

This is precisely the wrong question. I assert that direct cont

[2020-10-01 05:06] pkulchenko commented on #54
[#898](https://github.com/pkulchenko/ZeroBraneStudio/issues/898) provides a workaround for this issue, but I agree that it may need to be removed, as it's not always correct and is not very useful in Lua 5.2+ versions anyway.

[2020-12-07 15:00] ZhouJiaZhi opened #57 "I wrote a simple lua file and got an error when debugging"
Below is the picture of the error
<img width="1041" alt="截屏2020-12-07 22 58 13" src="https://user-images.githubusercontent.com/20750357/101366326-ca6dfb80-38df-11eb-9b6d-639773e70296.png">

[2020-12-07 17:29] pkulchenko commented on #57
@ZhouJiaZhi, thank you for the report. Can you add `print(_VERSION, getfenv, setfenv)` as the first line in your script and report back its output?

Also, why do you do require for `src.mobdebug`? It should be `require("mobdebug")`. What version of mobdebug are you using?

[2020-12-08 12:40] ZhouJiaZhi commented on #57
Yesterday, the version of my mobdebug was too low. I used the mobdebug-0.51 version installed by luarocks yesterday. I can debug it with version 0.7 today, but I found a strange problem, that is, my breakpoints seem to be unavailable works, now he will stop at a non-breakpoint
<img width="654" alt="截屏2020-12-08 20 38 09" src="https://user-images.githubusercontent.com/20750357/101484900-4b3aff00-39

[2020-12-08 16:51] pkulchenko commented on #57
I'm not sure what environment you use, so it's difficult for me to say what may be going wrong there. I use Mobdebug in the (widely used) ZeroBrane Studio IDE and don't see any issues with misplaced breakpoints. You can run Mobdebug controller from the command line against your script to see what lines are reported for breakpoints.

[2020-12-16 20:44] andrewstarks opened #58 "Update luarocks please... :)"
The latest LuaRocks version is not compatible with Lua 5.4 and thus breaks when trying to use it with ZBS. Thanks!

[2020-12-17 02:30] pkulchenko commented on #58
@andrewstarks, I only put "major" releases in luarocks and 0.70 is the last one registered there. It does support Lua 5.4 (at least according to my tests). Do you have a simple test case that demonstrates that 0.70 doesn't work with Lua 5.4? I do plan to make an upgrade soon, but am still curious about the specific issue with 0.70.

[2020-12-21 18:13] sonyps5201314 opened #59 "can not eval ... varargs in lua5.4.x"
[code]
put a breakpoint in the follow line
[code]
when the breakpoint is triggered,
add watch '...' will get a result as
![image](https://user-images.githubusercontent.com/20564099/102808365-316cd380-43fb-11eb-8824-fedcc10f8b26.png)
, but if use lua5.2-5.3 and luajit it will get a result as
![image](https://user-images.githubusercontent.com/20564099/102808324-20bc5d80-43fb-11eb-84f0-b98837077374.p

[2020-12-21 19:03] pkulchenko commented on #59
@sonyps5201314, thank you for the report. It looks like Lua 5.4 changed the name of those variables from `(*vararg)` to `(vararg)`.

This patch should fix this:

[code]

[2020-12-21 20:05] sonyps5201314 commented on #59
Yes, it works now! Thank you for fixing it so quickly.

[2020-12-21 21:39] sonyps5201314 commented on #59
It seems that this feature is not supported in Lua5.1, not LuaJIT.

[2020-12-21 21:55] pkulchenko commented on #59
Correct; it looks like Lua 5.1 didn't provide access to varargs through `getlocal`.

[2020-12-22 08:29] sonyps5201314 commented on #59
Okay, thanks.

[2021-05-30 16:26] cata0309 opened #60 "Luasocket bug receive"
I have the following versions:
luasocket 3.0rc1-2
luasec 1.0.1-1
lua 5.4.3
mobdebug 0.70 from this repository(not from luarocks)

I am trying to debug using Luanalysis from Intellij IDEA
![image](https://user-images.githubusercontent.com/35623921/120111872-4c96f880-c17c-11eb-9061-15680ee43272.png)
![image](https://user-images.githubusercontent.com/35623921/120112007-bfa06f00-c17c-11eb-859c-374ab0c

[2021-05-30 18:45] cata0309 commented on #60
The error received is that luasocket 3 receive primitive even if it has a default it must be explicitly passed to the function.
http://w3.impa.br/~diego/software/luasocket/tcp.html#receive
![image](https://user-images.githubusercontent.com/35623921/120116314-47dc3f80-c190-11eb-8152-97a37c125eff.png)
So, what I did is I created a fork of the project and replaced all the
```receive()``` calls with `

[2021-06-17 05:42] #55 closed

[2021-06-17 05:42] #59 closed

[2021-06-17 05:42] #60 closed

[2021-06-17 05:42] #58 closed

[2021-06-17 05:48] pkulchenko commented on #60
@cata0309, thank you for the report and the patch! I've integrated your changes, but in a slightly different way. Please let me know if you run into any issues with the updated version and Lua 5.4.3

[2021-06-17 05:50] pkulchenko commented on #57
Closing this one, but feel free to re-open if you have any additional information.

[2021-06-17 05:50] #57 closed

[2021-06-17 05:57] #54 closed

[2021-07-01 12:34] kkolyan opened #62 "Step in works unstable"
Hi!
I'm developing a game on custom engine that run scripts with embedded LuaJIT 2.0.5.

Not too long started to debug scripts with mobdebug and ZBS. For some reason "Step into" feature sometimes doesn't work (it just steps on the next line instead of stepping into a function). But sometimes it works fine. What are the limitations for "Step into"?

[2021-07-01 16:39] pkulchenko commented on #62
@kkolyan, you'll need to provide more details about the context when stepping into doesn't work, but I suspect it may be related to the function being defined in a separate file. See this [FAQ answer for additiona details](https://studio.zerobrane.com/doc-faq#why-stepping-into-function-calls-doesnt-work-in-some-cases) and feel free to re-open if it doesn't cover your case.

[2021-07-01 16:39] #62 closed

[2021-07-05 14:23] sosie-js opened #63 "Debugging lua scripts within mpv , crashes"
Hi Paul,

-I copied the mobdebug.lua under /usr/local/share/lua/5.1
-Created foo.lua in /opt/ZeroBraneStudio-1.90/myprograms so it is reachable by zbstudio:
`require('mobdebug').start()
lineforthebreakpoint=1`
I installed the plugin autostart from https://github.com/pkulchenko/ZeroBranePackage/blob/master/autostartdebug.lua
`cp autostartdebug.lua /opt/ZeroBraneStudio-1.90/packages`

then launched

[2021-07-05 15:35] pkulchenko commented on #63
You can try getting a stack trace to see where it fails. You can also add `print` statements to the code to see if it fails somewhere inside mobdebug or if it happens in the mpv code. I'm not aware of any mobdebug issues that may lead to a segfault.

[2021-07-05 23:26] kkolyan commented on #62
Thanks for an answer. Yes, I didn't think about such limitation.

[2021-07-07 04:33] pkulchenko commented on #42
I don't think this is going to work, as it doesn't fit the use case of debugging Lua code.

[2021-07-07 04:33] #42 closed

[2021-07-09 18:20] sosie-js commented on #63
That sounds a good idea! Here is the backtrace using ddd mpv and inside run FoFg.mp4, then bt
The foo.lua script has been deported into ~/.config/mpv/scripts/ as I don't succeed to pass --script, we use the fact all script
are autoloaded.from this last directory , I got:
`GNU DDD 3.3.12 (x86_64-pc-linux-gnu), by Dorothea LReading symbols from mpv...done.
(gdb) run FoFg.mp4
Starting program: /usr/l

[2021-07-09 21:56] pkulchenko commented on #63
@sosie-js, thank yor for the details.

Given the stack trace, this looks like a luasocket issue (and the fact that a socket connection is initiated from the `start()` call confirms that). There has been several discussions about handling of lua buffers and their impact on luasocket (see for example, [here](http://lua.2524044.n2.nabble.com/BUG-Re-A-luaL-Buffer-question-td7680006.html) and [here](ht

[2021-07-13 08:00] sosie-js commented on #63
Paul you are welcome.

I tried already the latest mobdebug 0.801
I have seen since an extra @ poluting  script_path ,  so I modified script_path function it to
`  function script_path()
    --Note   return os.path.dirname(__file__) DOES NOT WORK
     local str = debug.getinfo(2, "S").source:sub(1)
     str=str:gsub("@", "")
     return str:match("(.*/)")
  end`

after lancing zbstudio, if i do
 `l

[2021-07-13 11:47] sosie-js commented on #63
I put some print in local function debug_hook(event, line)
What I saw by comparing `luajit ~/.config/mpv/scripts/foo.lua` VS `mpv FoFg.mp4` outputs
, is there are more 2* 3 group calls of the section after setting debug.sethook(debug_hook, HOOKMASK)
 "if jit and not (ngx and type(ngx) == "table" and ngx.say) then"
going out with "return" coro is 'main' each time
Maybe the stack is thus twisted..

[2021-08-07 15:57] sosie-js commented on #63
I don't know about your hook bur maybe https://github.com/mpv-player/mpv/blob/master/TOOLS/lua/test-hooks.lua can give a clue of incompatibility  debug.sethook(debug_hook, HOOKMASK)

[2021-10-24 22:41] hseg opened #64 "Doc/Feature: Breakpoints demand full, absolute paths"
`setb` requires the _full_, absolute path to the script.
The following naive guesses do _not_ work:

- [ ] A relative path
- [ ] An absolute path, using the common unix shorthand of `~` for `$HOME`
- [ ] The filename (eg `script.lua` for `~/path/to/script.lua` where `script.lua` is unique)

Worse, none of this is documented.

[2021-10-24 23:47] #64 closed, assigned to pkulchenko

[2021-12-10 01:40] AlexanderMisel opened #66 "[Question] Why MobDebug is incompatible with OpenResty's cosocket"
When I try to migrate MobDebug to OpenResty's cosocket, I found that it doesn't work. The error log told me that it "attempt to yield across c-call boundary". But using LuaSocket like official guide said, it works well. So what's the problem with cosocket running MobDebug?

[2021-12-10 02:41] AlexanderMisel opened #67 "Official document on debugging openresty is a bit misleading"
ref: http://notebook.kulchenko.com/zerobrane/debugging-openresty-nginx-lua-scripts-with-zerobrane-studio

MobDebug is one of the best ways to debug OpenResty. But the doc is a bit misleading about the configuration. In the example config

[code]

It points the lua package path and cpath to the libs in the ZeroBrane Studio path, which isn't common way of setting these paths. This example made us to

[2021-12-10 02:49] pkulchenko commented on #67
Why is it misleading? I find that it's safer to reference the libs from the ZeroBrane Studio folder rather than to copy them to the NGINX folders, but you definitely have the option of doing it the way you described.

[2021-12-10 02:49] #67 closed

[2021-12-10 02:54] AlexanderMisel commented on #67
Because we often don't need to use lua and c libraries from ZeroBrane in a real-world application. We often point the paths elsewhere where our luajit and batteries installed, and use ZeroBrane as a remote debugger.

[2021-12-10 03:02] pkulchenko commented on #66
I don't think it's a problem with mobdebug per se. It looks like in a "normal" debugging scenario, mobdebug yields from the debugger loop when there is a timeout from a socket, but in the case of openresty, it resumes *from* the actual luasocket call (hence it needs a modified library), so when mobdebug attempts to yield in this case, you get the error you see.

I've tried to make it work with the

[2021-12-10 03:02] #66 closed

[2021-12-10 03:03] pkulchenko commented on #67
I agree, but the instructions are in the context of debugging that application and you'd need that reference to debug it (and wouldn't need in all other cases).

[2022-02-12 20:31] moteus opened #70 "No response for set breakpoint command"
MobDebug does not send any response for set/del breackpoint commands during run (from handle_breakpoint function).
Is it expected behaviour?

[2022-02-12 20:34] pkulchenko commented on #70
Yes; it only sends responses to the commands when the app is suspended, as it was causing a breakage in the protocol.

Are you running into any problems with that?

[2022-02-12 20:34] #70 closed

[2022-02-12 20:36] moteus commented on #70
Nope. Just not expected part of protocol.

[2022-02-19 14:08] moteus commented on #70
I think I found a problem.
Lets say Lua code stalled in some C call (e.g. `sleep(5000)`) so mobdebug can not handle any I/O.
In this time user set 2 breakpoints.
After C call ends handle_breakpoint are called and handle exactly one breakpoint and debug_hook interrupted because of the second set breakpoint command.And as result second command handled inside regular debug loop with response.

I am n

[2022-05-12 06:18] fairyqb opened #72 "lua entry thread aborted: runtime error: attempt to yield across C-call boundary"
error:

 lua entry thread aborted: runtime error: attempt to yield across C-call boundary

call stack:

/5.1/kong/init.lua: in function 'access'
	access_by_lua(nginx-kong.conf:100):2: in function <access_by_lua(nginx-kong.conf:100):1>, client: 127.0.0.1, server: kong, request: "HEAD / HTTP/1.1", host: "www.test-site.com"

[2022-05-12 06:24] pkulchenko commented on #72
Which version of mobdebug and nginx/openresty are you using? This appears to be like the "wrong" coroutine methods are being used. There is a comment/section in mobdebug that describes what may be happening:

[code]

You can add some debugging statements to see if it's being correctly triggered.

[2022-05-12 22:36] fairyqb commented on #72
Thank you very much. It's working

[2022-05-12 22:36] #72 closed

[2022-05-13 05:21] pkulchenko commented on #72
@fairyqb, just to clarify: did it work for you with the current version or with the proposed patch?

[2022-05-21 18:59] pkulchenko commented on #70
@moteus, yes, this may actually happen. To rephrase the scenario: the user sends to async breakpoints (not expecting a response), but the first one stops the application and when the second one is processed, then the app actually does send a response that the client doesn't expect. Is that the same scenario or the opposite of what you're proposing?

[2022-08-27 06:39] britzl commented on #56
I admit I have not followed along fully, especially within that ZBS rabbit hole of an issue which is linked above, but control over the matching of breakpoints to file and chunknames might actually be helpful.

Example: We use mobdebug on phones, consoles and pcs running either Lua 5.1 or LuaJIT, sometimes running code from source files and other times from bytecode. Our editor with its integrated

[2022-08-27 06:47] pkulchenko commented on #56
@britzl, thank you for the note. Do you mind providing additional details about the exact paths and the "massaging" you are applying?

[2022-08-27 15:21] britzl commented on #56
@pkulchenko we have a couple of different builders for the Lua code that ends up in the runtime and this results in file/chunknames like this `=game.foo` and at other times like this `@game/foo.lua`.

We're in control of this process and we can (and probably should) solve this in our build pipeline to guarantee standardized names at runtime rather than trying to fix names at runtime.

[2022-08-29 21:56] rulatir commented on #56
@britzl, I am the original reporter of this issue. I have since switched to the [EmmyLua debuggee module](https://github.com/EmmyLua/EmmyLuaDebugger/tree/1.4.0) and it was a life changer. It is a native module that works with the EmmyLua debugger, which has versions for major IDEs.

[Tutorial](https://dev.to/omervk/debugging-lua-inside-openresty-inside-docker-with-intellij-idea-2h95)

[2022-08-29 22:10] pkulchenko commented on #56
@rulatir, thank you for sharing your experience. EmmyLua does this by using `emmy.fixPath` method that maps one path to another.

@britzl, there is a patch with a similar intent that applies this logic on the controller side (in ZeroBrane Studio): https://github.com/pkulchenko/ZeroBraneStudio/pull/849. Do you think adding `debugger.mappath` function to map the paths to the debugger itself is suffi

[2022-08-29 22:42] rulatir commented on #56
@pkulchenko, as you might remember, in principle I am in favor of handling path maping in the controller aka debugging client aka IDE, and keeping the debuggee module absolutely minimal. However if I can put the path mapping implementation in a separate module and link that module into the container, it's as good as configuring the mapping on the debugger side.

[2022-08-30 06:33] britzl commented on #56
@pkulchenko and @rulatir sorry for necroing this old issue, but perhaps some good will come out of it.

In my case I would be more helped by a `fixPath(path)` function as mentioned by @rulatir and also seen in the blog post shared above (https://dev.to/omervk/debugging-lua-inside-openresty-inside-docker-with-intellij-idea-2h95).

The path remapping would not help as I'm looking to fix inconsistenc

[2022-10-17 07:30] neopaf opened #74 "IntelliJ IDEA + EmmyLua + mobdebug = very unstable handshake"
Version: 0.8
When initiating debug most of times (but not 100%, maybe in 1% it works fine), it looks like this:
[code]
And then nothing happens. Execution point is not showed in source code. As if handshake is not passed.

Investigated, discovered with Wireshark that "DELB * 0\n" command is sent by server-side into the app.
But call to `server:receive()` in `debugger_loop` never returns.
`netstat`

[2022-10-17 07:31] neopaf commented on #74
Investigated, discovered with Wireshark that "DELB * 0\n" command is sent by server-side into the app.
But call to `server:receive()` in `debugger_loop` never returns.
`netstat` showed that app read everything from network.

`lldb` to lua client process shows that somebody calls `receive(1)` before `debugger_loop` does that and *steals* bytes from incoming request.

Search in source code shows tha

[2022-10-17 07:31] neopaf commented on #74
Пользуясь случаем, *огромное* спасибо за замечательную работу, пользуемся каждый день много лет!

[2022-10-21 05:17] pkulchenko commented on #74
Correct, but it should add the read byte back to the line inside [handle_breakpoint](https://github.com/pkulchenko/MobDebug/blob/0.80/src/mobdebug.lua#L503) or [in the debugger_loop](https://github.com/pkulchenko/MobDebug/blob/0.80/src/mobdebug.lua#L785).

Also, stealing one character shouldn't affect `server:receive("*l")` in debugger_loop, as it reads everything up to an end-of-line (it may not

[2022-10-24 10:16] neopaf commented on #74
Thanks, Paul, for your curiosity!
I'm not sure how to help here.
What I see in Wireshark in bad case is that
[code]

Was sent by debugger.

In normal cases (rare) we get
[code]
Reply.

In bad cases we see no reply, and app hangs.
lldb in C world shows [`buffer_meth_receive`](https://github.com/lunarmodules/luasocket/blob/master/src/buffer.c#L105) calling [`recvraw`](https://github.com/lunarmodules

[2022-11-21 06:43] muescha opened #80 "IntelliJ Idea: Is it possible to set things up so that debugger wouldn't pause immediately after mobdebug.start(), only on breakpoints?"
@rulatir, yes, you can set `debugger.runonstart = true` in the config. See https://studio.zerobrane.com/doc-general-preferences#debugger.

You also *should* be able to un/set breakpoints while the script is running.

_Originally posted by @pkulchenko in https://github.com/pkulchenko/MobDebug/issues/51#issuecomment-662559121_

[2022-11-23 09:11] ofirmc opened #81 "Error: loop or previous error loading module"
I'm trying to remote debug a server that has an open port: 3254.
On that server I use listen() like this:  require("mobdebug").listen("*", 3254)
Port 3254 also receives https request e.g. in the browser we use https://<server_IP>:3254 to browse to the web site.
When browsing to a page that eventually runs a LUA code that has require("mobdebug").listen("*", 3254), I get the following error:
"loop o

[2022-11-30 05:36] pkulchenko commented on #81
Do you by any chance have "mobdebug.lua" file in one of the project folders (or maybe socket.lua)? Is there a detailed stack trace that would point to line numbers where the error may be happening?